body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(250, 250, 250, 0.692);
  background-image: url(/Imagens/arena\ corinthians.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.idolos h2 {
  color: rgb(255, 255, 255);
  font-family: 'Bungee Spice';
  font-size: 19px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 25px;

}

.elenco h2 {
  color: rgb(252, 252, 252);
  font-family: 'Bungee Spice';
  font-size: 19px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 25px;

}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #fcfcfc;
  background-color: black;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .container h1 {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.header .container h1 img {
  height: 80%;

}

.header a {
  text-decoration: none;
  color: #ff9028e1;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: #f1f1f1;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

.banner {
  height: var(--tamanho-banner);
  background-image: url('/Imagens/Torcida.jpg');
  background-size: cover;
  padding: 3%;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  margin-top: 200px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  gap: 100px;
  width: 100%;
  padding: 10%;
}

.box {
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  background-image: url('/Imagens/Torcida.jpg');
  background-size: cover;
}

#div_erros_login {
  color: red;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  background-color: #f3f3f381;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(12, 12, 12);
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;
  border-radius: 17%;
}

.card-login {
  height: 80%;
  width: 25vw;
  border-radius: 17%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #0c0c0c;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #181718;
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #080808 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.footer {
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #030303;
  color: #fff;
}

.footer2 {
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #030303;
  color: #fff;

}

/* .footer2 h4 {
  margin: 80px;
} */

.footer h4 {
  margin: 0;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.container1 {
  position: relative;
  /* width: 50%; */
  display: flex;

}


.image {
  display: block;
  width: 200px;
  height: 150px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #008CBA; */
  overflow: hidden;
  width: 200px;
  height: 150px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container1:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(19, 18, 18, 0.61);
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.allCards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  column-gap: 7px;
}